@model upload_pptx.Helpers.slide
@{
    ViewData["Title"] = "UploadPresentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadPresentation</h2>

<form method="post" enctype="multipart/form-data">
<div class="form-group">
    <input type="text" name="name"/>
</div>
<div class="form-group">
    <input type="file" accept="Presentation/*" name="file" class="form-control" />
</div>    
<button type="submit" class="form-control">kaydet</button>
</form>

